.full_grid_with_background_image .col_grid_container {
    width: 85%;
    position: relative;
}

.full_grid_with_background_image .snap_group_all {
    width: 92%;
    /* position: absolute; */
    top: 46px;
    left: 48px;
    padding: 0px 22px;
    text-align: left;
    /* line-height: 45px; */
}

.slide_88 .snap_group_all {
    position: absolute;
}

.full_grid_with_background_image .audioIcon:hover {
    transform: scale(1);
}

.grid_row {
    display: flex;
    align-items: center;
}

.phonics .snap_group_3 {
    border-bottom: 1px solid #f49ac1;
}

.phonics .grid_col{
    display: flex;
    justify-content: center;
}

.page_sub_title * {
    display: block;
}
