.all_cont{
    height: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.screen_elements{
    width: 90%;
    height: 100%;
}

.group_elm{
    width: 80%;
    height: 57%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.func_ctrls {
    display: none !important;
}

.q_num_space{
    width: 50px;
    font-weight: bold;
}

.q_order{
    width: 50px;
    font-weight: bolder;
}

.ques{
    width: 100%;
    align-items: center;
    padding: 10px;
    text-align: center;
}

.q_box{
    width:  100%;
    height: 70px;
}

.fill_in .que {
    width: 100%;
    height: 43px;
    justify-content: center;
}

.fillin_gr .q_space {
    width: 100%;
}

.fillin_set {
    font-family: Arcon;
    font-size: 25px;
    color: black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.fillin_set input:focus{
    outline: none;
}

.fillin_set input {
    flex: 2 2 10px;
    margin: 0px 20px;
    height: 35px;
    color: black;
    padding-left: 20px;
    border: none;
    font-size: 23px;
    border-bottom: 2px solid #36a0c7;
}

.txt-audioIcon{
    z-index: 1;
}

.icon_wrap {
    position: absolute;
    margin-top: -35px; 
    right: 100px;
}

.tick,
.cross {
    width: 35px;
}

.tick img,
.cross img {
    width: 100%;
}

.image_wrap {
    display: none;
}

.images_container{
    width: 100%;
    display: flex;
    /* padding: 10px; */
    justify-content: space-around;
}

.images_container img{
    height: 150px;
}

.images_container .img-0{
    position: absolute;
    top: 175px;
    left: 307px;
}

.images_container .img-1{
    position: absolute;
    top: 175px;
    right: 240px;
}

.images_container .img-2{
    position: absolute;
    bottom: 8px;
    left: 391px;
}

.images_container .img-3{
    position: absolute;
    bottom: 8px;
    right: 356px;
}

/* ====================================== */
.pulse {
    animation: pulse 1s infinite ease-in-out alternate;
  }
  @keyframes pulse {
    from { transform: scale(1.0); }
    to { transform: scale(1.1); }
  }
/* ====================================== */
/* ************************************************* */
/* ************************************************* */
@media (max-width: 991.98px) {
    .fill_in .que {
        width: 160px;
    }
}

@media (max-width: 575.98px) {
    .fill_in .que {
        width: 200px;
    }
}

@media (max-width: 475.98px) {
    /* .fill_in .que {
        width: 200px;
    } */
}