.all_cont{
    height: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.screen_elements{
    width: 90%;
    height: 100%;
}

.group_elm{
    width: 80%;
    height: 100%;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.activityHeading b {
    color: #000;
}

.q_num_space{
    width: 40px;
    font-weight: bold;
}

.image_space {
    width: 75%;
    height: 342px;
    margin: 0px auto;
}
  
.image_space img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.q_order{
    width: 50px;
    font-weight: bolder;
}

.ques{
    width: 100%;
    align-items: center;
    padding: 10px;
    text-align: center;
}

.q_box{
    width:  100%;
    height: 70px;
}

.fill_in .que {
    width: 100%;
    /* height: 65px; */

}

.fillin_gr .q_space {
    width: 100%;
    position: relative;
}
.fillin_set {
    font-family: Arcon;
    font-size: 25px;
    color: black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.fillin_set input:focus{
    outline: none;
}

.fillin_set input {
    /* flex: 2 2 10px; */
    width: 80%;
    height: 35px;
    color: black;
    /* padding-left: 20px; */
    border: none;
    /* font-size: 21px; */
    margin: 0px 15px;
    border-bottom: 2px solid #595a5a;
}

.icon_wrap {
    display: none;
    position: absolute;
    /* margin-top: -35px;  */
    left: -50px;
}

.tick,
.cross {
    width: 35px;
}

.tick img,
.cross img {
    width: 100%;
}

.image_wrap {
    display: none;
}

.que[data-qno="1"] input,
.que[data-qno="3"] input,
.que[data-qno="5"] input,
.que[data-qno="7"] input,
.que[data-qno="9"] input,
.que[data-qno="11"] input,
.que[data-qno="13"] input,
.que[data-qno="15"] input {
    width: 150px !important;
}


/* ************************************************* */
/* ************************************************* */
@media (max-width: 991.98px) {
    .fill_in .que {
        width: 160px;
    }
}

@media (max-width: 575.98px) {
    .fill_in .que {
        width: 200px;
    }
}

@media (max-width: 475.98px) {
    /* .fill_in .que {
        width: 200px;
    } */
}