:root{
  --temp: rgb(39,150,166);
  --light: #e8eff1;
}
.all_cont {
  width: 100%;
  height: 100%;
  align-items: center;
}

.group_elm {
  width: 75%;
  height: 100%;
  margin: 0px auto;
}
.subTitleTextRight b {
  color: red;
}

.image_container {
  position: absolute;
  right: -51px;
  top: 58%;
  z-index: -200;

}
.image_container img{
  height: 200px;
  margin: 0px 50px;
}
.tick_group {
  position: relative;
  margin: 5px auto;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
}

.tickBox {
  color: black;
  padding: 0;
  margin-top: 8px;
  height: 30px;
  width: 62px;
  min-width: 62px;
  border: none;
  border-radius: 0px !important;
  border-bottom: 2px solid #000;
}
.icon_wrap_holder {
  right: 40px;
}
.cont_ht_sf.activity_area {
  width: 100%;
}
.activityTitle {
  margin-left: 60px;
}
.que {
  position: relative;
  width: intrinsic;
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;
  margin: auto;
  /* margin-bottom: 12px; */
  border-radius: 12px;
  /* background-repeat: no-repeat; */
}


.que .image_wrap {
  height: 110px;
  width: 140px;
  border: 1px solid darkblue;
  border-radius: 15px;
}
.que .image_wrap img {
  height: 100%;
  /* width: 100%; */
  margin: auto;
  border-radius: 15px;
  /* object-fit: cover; */
}
.que_group {
  /* height: 170px; */
}
.ans_grup{
  height: 100%;
}
.tick_fields {
  width: 250px;
  height: 100%;
  /* margin-left: 147px; */
}
.tickBox {
  border-radius: 10px;
  /* border-color: 2px solid #f5b66e !important; */
}
.pick {
  width: intrinsic;
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;
  height: 75px;
  margin-bottom: 10px;
}
.tick_fields .tickContent {
  font-family: Arcon;
  letter-spacing: 1px;
  border-radius: 3%;
  padding: 0 10px 10px;
  width: intrinsic;
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;
  /* color: #a53626;   */
}
.question_div {
  margin-bottom: 2%;
}
.question_div .heading {
  padding: 10px;
  padding-left: 10px;
}
.q_num_space {
  padding: 0 10px 10px;
  width: 40px;
}
.heading{
  display: flex;
  justify-content: flex-start;
  padding-left: 60px;
}
/* .activityTitle{
    color: #a43632;
  } */
.icon_wrap_holder {
  position: absolute;
  z-index: 2;
  height: auto;
  right: 10px;
  /* background-color: white; */
  border-radius: 12px;
}
.tick img,
.cross img {
  padding-top: 8px;
}
.tick_group{
  width: 1109px;
}
.que {
  width: 1107px;
  padding: 10px;
  /* box-shadow: 12px 7px 15px #6c6b6b; */
}


/**End**/

/* ====================================================== */
/*              Media Queries Start                       */
/* ====================================================== */
/* ------------------------------------------------ */
/*              M Q max-width: 1199.98px */
/* ------------------------------------------------*/
@media (max-width: 1199.98px) {
  .que .image_wrap {
    height: 20vh;
  }
}
/* ------------------------------------------------ */
/*              M Q max-width: 991.98px */
/* ------------------------------------------------*/
/* // Medium devices (tablets, less than 992px) 768 to 991.98 */
@media (max-width: 991.98px) {
  .que .image_wrap {
    height: 27vh;
  }
  .tick_fields {
    margin: auto 19px;
    width: 100%;
  }

  .tick_fields .tickContent {
    width: 100%;
  }
  .tick_field {
    width: 100%;
  }
}
/* ------------------------------------------------ */
/* M Q max-width: 767.98px */
/* ------------------------------------------------*/
@media (max-width: 767.98px) {
  .que .image_wrap {
    width: 100%;
  }
  .pick {
    margin: auto;
    margin-bottom: 20px;
  }
  .tick_group {
    padding-top: 10px;
  }
  .tick_field {
    margin-left: 0;
  }

  .icon_wrap_holder {
    right: 11%;
  }
}
/* ------------------------------------------------ */
/* M Q max-width: 575.98px */
/* ------------------------------------------------*/
@media (max-width: 575.98px) {
}
/* ------------------------------------------------ */
/*              M Q max-width: 475.98px             */
/* ------------------------------------------------*/
@media (max-width: 475.98px) {
  .pick {
    margin-bottom: 10px;
  }

  .que .image_wrap img {
    width: auto;
  }
  .que .image_wrap {
    height: 27vh;
    width: auto !important;
    min-height: 167px;
  }
  .tick_fields {
    width: 89%;
    margin: auto 5px;
    /* padding: 0 49px; */
  }
}
@media (max-width: 320px) {
  .tick_fields {
    padding: 2px;
  }
}
