.full_grid_with_background_image .col_grid_container {
    width: 80%;
    position: relative;
}

.full_grid_with_background_image .snap_group_all {
    width: 96%;
    position: absolute;
    top: 46px;
    left: 48px;
    text-align: left;
    line-height: 45px;
}
.phonics .col_card {
    display: flex;
    justify-content: center;
}