.all_cont {
  height: 100%;
  width: 100%;
}

.audio_icon {
  height: 39px;
  padding: 1px;
}

.screan_elements {
  width: 90%;
  height: 100%;
}

.options {
  width: 85%;
}

.activityHeading .light-font{
  font-size: 23px;
  font-weight: 200;
}

.fillin_gr input:first-child{
  width: 65px !important;
  height: 30px;
  border-bottom: 3px solid black;
  margin: 0px 10px 0px 0px;
}

.fillin_gr input {
  /* width: 70px; */
  flex: 1;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  margin: 1px;
  text-align: center;
  height: 39px;
  margin: 0 10px;
}

.fillin_gr input:focus {
  outline: none;
}

.img_fillin_gr {
  position: relative;
  min-height: 50px;
  font-size: 24px;
}

.fillin_set * {
  display: inline-block;
}

.txt-audioIcon b{
  font-weight: bolder;
}

.tick,
.cross {
  width: 32px;
  height: 32px;
}

.clue_word {
  margin: 15px;
}

.word_options {
  width: 80%;
  border: 2px solid black;
  border-radius: 20px;
  margin-bottom: 8vh;
  background-color: white;
}

.word_opt_sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
}

.nextNav {
  right: 0;
}

.backNav {
  left: 0;
}
.icon_wrap{
  position: absolute;
}
.image-container{
  width: 180px;
  position: absolute;
  right: 120px;
  bottom: 20px;
}
.image-container img{
  width: 100%;
  object-fit: contain;
}

/**** popup window ***/

/* ====================================================== */
/*              Media Queries Start                       */
/* ====================================================== */
/* ------------------------------------------------ */
/*              M Q max-width: 1799.98px */
/* ------------------------------------------------*/
/* // Large devices (desktops, less than 1800px) */
@media (max-width: 1799.98px) {}

/* ------------------------------------------------ */
/*              M Q max-width: 1399.98px */
/* ------------------------------------------------*/
/* // Large devices (desktops, less than 1400px) */
@media (max-width: 1399.98px) {}

/* ------------------------------------------------ */
/*              M Q max-width: 1199.98px */
/* ------------------------------------------------*/
/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .word_options {
    margin-bottom: 1vh;
  }

  .img_fillin_gr {
    width: 100%;
  }
}

/* ------------------------------------------------ */
/*              M Q max-width: 991.98px */
/* ------------------------------------------------*/
/* // Medium devices (tablets, less than 992px) 768 to 991.98 */
@media (max-width: 991.98px) {}

/* ------------------------------------------------ */
/* M Q max-width: 767.98px */
/* ------------------------------------------------*/
/* // Small devices (landscape phones, less than 768px) 576 to 767.98*/
@media (max-width: 767.98px) {}

/* ------------------------------------------------ */
/* M Q max-width: 575.98px */
/* ------------------------------------------------*/
/* // Extra small devices (portrait phones, less than 576px) 476 to 575*/
@media (max-width: 575.98px) {}

/* ------------------------------------------------ */
/*              M Q max-width: 475.98px             */
/* ------------------------------------------------*/
/* body working fine 320 to 475 */
@media (max-width: 475.98px) {}