.all_cont{
    height: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.screen_elements{
    width: 90%;
    height: 100%;
    align-items: center;
}

.group_elm{
    width: 90%;
    height: 100%;
    margin: 0px auto;
    position: relative;
}

.q_text {
    width: 100%;
    margin: 10px auto;
}

.textarea-container {
    background-image: url('../images/pages/activities/BOOKS.jpg');
    background-size: cover;
    padding: 20px;
    width: 90%;
    height: 400px;
    /* margin-bottom: 70px; */
    border-radius: 15px;
    border: 2px solid #ade6fb;
}

.text_input_area {
    flex: 1;
    border: none;
}

#paper-textarea {
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding: 0px 3px;
    line-height: 52px;
    font-size: 24.8px;
    overflow: hidden;
}

textarea {
  border: none;
  outline: none;
  resize: none;
  background: transparent;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.textarea-container input:focus{
    outline: none;
}

.icon_wrap {
    position: absolute;
    margin-top: -35px; 
    right: 100px;
}

.tick,
.cross {
    width: 35px;
}

.tick img,
.cross img {
    width: 100%;
}

.image_wrap {
    display: none;
}

.clue_word {
    padding: 2px 27px;
    font-size: 20px;
}

.word_options {
    width: 100%;
    border-radius: 10px;
    background-color: #c3f4ff8c;
    margin-bottom: 15px;
}

.word_opt_sticky {
    width: 80%;
    margin: 0px auto;
    position: -webkit-sticky;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 5;
    border: 2px solid var(--temp);
    border-radius: 10px;
}

/* ************************************************* */
/* ************************************************* */
@media (max-width: 991.98px) {
    .fill_in .que {
        width: 160px;
    }
}

@media (max-width: 575.98px) {
    .fill_in .que {
        width: 200px;
    }
}

@media (max-width: 475.98px) {
    /* .fill_in .que {
        width: 200px;
    } */
}