.all_cont {
    height: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.table {
    width: 100%;
    height: 540px;
    border: 1px solid #747474;
    border-top-right-radius: 65px;
    border-bottom-left-radius: 65px;
    box-shadow: 10px 15px 40px #cac9c9;
    margin: 0px;
}
.activityHeading span {
    font-weight: lighter;
}
.q_Box{
    border-bottom: 1px solid #5e5e5e;
    height: 160px;
}

.q_Box:last-child {
    border-bottom: none;
}
.txtfront{
    width: 200px;
}
.txtback{
    margin-left: 20px;
}
.textEnd{
    color: #20cdda;
    position: absolute;
    right: 24px;
}
input {
    width: 80px;
    text-align: center;
    font-weight: 600;
    padding-left: 5px;
    color: black;
    border: none;
    border-bottom: 2px solid black;
  }
.w-85{
    width: 85%;
}

.left-content{
    flex-direction: column;
    width: 20%;
}

.fillin_gr{
    width: 85%;
    margin: auto;
}
.image_container{
    position: absolute;
  top: 220px;
  right: 200px;
}
.image_container img{
    width: 250px;
}
.words-list li{
    height: 110px;
    font-weight: bolder;
    color: black;
    border: 1px solid black;
  align-items: center;
  display: flex;
  justify-content: center;
}
.text_input_area{
    border: none;
    border-bottom: 1px solid black;
    width: 55%;
    flex:1;
}
.right-content .p-0{
    height: 110px;
    border: 1px solid black;
}

.tips_content img {
    height: 30px;
    width: auto;
    margin-top: 10px;
}

.fill_in .que {
    /* border: 2px solid #eae8e8;
    background-color: white;
    border-radius: 10px;
    width: 200px; */
    height: 55px;
    width: 100%;
}

.img-container{
    width: 15%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.img-container img{
    width: 88px;
     object-fit: cover;
}

.txtBox {
    font-family: Arcon;
    /* font-size: 30px; */
    /* font-weight: bold; */
    color: black;
    width: 100%;
  /* display: flex */
}

.que_1_2 {
    height: 100px;
}

.txtBox input {
    width: 80px;
    text-align: center;
    /* font-size: 30px;  */
    font-weight: 600;
    padding-left: 5px;
    /* border: 2px solid #20cdda; */
    /* border-radius: 5px; */
    color: black;
    border: none;
    border-bottom: 2px solid black;
}

.all_cont {
    /* margin-top: 20px; */
}

.fill_in .que .txt_wrap {
    /* text-align: center; */
    width: 870px;
    position: relative;
}

.theIcons {
    margin: 5px 0;
}

.icon_wrap {
    display: none;
}

.tick,
.cross {
    width: 35px;
}

.tick img,
.cross img {
    width: 100%;
}

.image_wrap {
    display: none;
}

.word-width{
width: 95px;
}



/* ========================================== */
@media (max-width: 991.98px) {
    .fill_in .que {
        width: 160px;
    }
}

@media (max-width: 575.98px) {
    .fill_in .que {
        width: 200px;
    }
}

@media (max-width: 475.98px) {
    /* .fill_in .que {
        width: 200px;
    } */
}