.activityHeading{
    color: rgb(0, 185, 242);
    font-weight: 200;
}
.audioIcon{
    width: fit-content !important;
}
.right-content {
    flex-direction: column;
    width: 70%;
}

.left-content{
    flex-direction: column;
    width: 20%;
}

.fit-contant{
    width: fit-content;
}

.audioIcon{
    width: 70%;
}


.r-choice{
    width:65%;
     margin-left:25px;
     display: flex;
}
.words-list li{
    height: 110px;
    font-weight: bolder;
    color: black;
}

.right-content .p-0{
    height: 110px;
}

.tips_content img {
    height: 30px;
    width: auto;
    margin-top: 10px;
}

.fill_in .que {
    /* border: 2px solid #eae8e8;
    background-color: white;
    border-radius: 10px;
    width: 200px; */
    /* height: 70px; */
}

.txtBox {
    font-family: Arcon;
    /* font-size: 30px; */
    font-weight: bold;
    color: black;
    display: flex;
    width: 30%;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.que_1_2 {
    height: 100px;
}

.w-70{
    width: 70%;
}

.image-container{
    width: 275px;
    position: absolute;
    right: 52px;
    top: 180px;
}
.image-container img{
    width: 100%;
}
.txtBox input {
    width: 45px;
    text-align: center;
    /* font-size: 30px;  */
    font-weight: 600;
    /* padding-left: 5px; */
    border: 2px solid #20cdda;
    border-radius: 5px;
    color: black;
    height: 50px;
}

.all_cont {
    margin-top: 15px;
}

.fill_in .que .txt_wrap {
    /* text-align: center; */
    width: 100%;
}

.theIcons {
    margin: 5px 0;
}

.icon_wrap {
    display: none;
}

.tick,
.cross {
    width: 35px;
}

.tick img,
.cross img {
    width: 100%;
}

.image_wrap {
    display: none;
}

@media (max-width: 991.98px) {
    .fill_in .que {
        width: 160px;
    }
}

@media (max-width: 575.98px) {
    .fill_in .que {
        width: 200px;
    }
}

@media (max-width: 475.98px) {
    /* .fill_in .que {
        width: 200px;
    } */
}