.full_grid_with_background_image .col_grid_container {
    width: 85%;
    position: relative;
}

.full_grid_with_background_image .snap_group_all {
    width: 96%;
    /* position: absolute; */
    top: 46px;
    left: 48px;
    text-align: left;
    line-height: 45px;
}

.slide_88 .snap_group_all {
    position: absolute;
}

.full_grid_with_background_image {
    width: 100%;
}

.grid_col {
    justify-items: center;
}

.slide-10 .audioIcon:hover {
    transform: scale(1);
}
.slide-10 .audioIcon {
    width: 100%;
}
/* ////////////////////////////////////////////////////////////// */
.text_input_area {
    flex: 1;
    border: none;
    border-bottom: 1px solid black;
}
.textarea-container {
    background-image: url('../images/pages/activities/BOOKS.jpg');
    background-size: cover;
    padding: 20px;
    width: 80%;
    height: 250px;
    border: solid 1px rgb(0, 185, 242);
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;
}
#paper-textarea {
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding: 0px 3px;
    /* line-height: 54.7px; */
    font-size: 22px;
    overflow: hidden;

    background-image: repeating-linear-gradient(to bottom, transparent 0, transparent calc(1.5em - 1px), #000 calc(1.5em - 1px), #000 1.5em);
    line-height: 1.5em;
}
textarea {
  border: none;
  outline: none;
  resize: none;
  background: transparent;
  font-family: Arial, sans-serif;
  overflow: hidden;
}
@media (max-width: 768px) {
    
    #paper-textarea {
        line-height: 54.7px;
}
}