.all_cont {
    height: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.screen_elements {
    width: 90%;
    height: 100%;
}

.group_elm {
    width: 96%;
    height: 100%;
    margin: 0px auto;
    position: relative;
}

.subTitleTextRight b {
    color: red;
}

.background_img{
    height: 545px;
    position: relative;
    margin: 0px auto;
}

.area {
    background-image: url('../images/pages/activities/writing-background.png');
    background-size: 965px 420px;
    background-repeat: no-repeat;
    height: 100%;
    /* margin-top: 20px; */
    position: relative;
}

.textarea-container {
    padding: 0px;
    width: 762px;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
}

.text1{
    /* border: 1px solid; */
    width: 300px;
}

.text2{
    width: 300px;
    /* border: 1px solid red; */
}

.text_input_area {
    flex: 1;
    border: none;
    /* border-bottom: 1px solid black; */
}

#paper-textarea {
    background-color: transparent;
    /* width: 100%; */
    height: 100%;
    /* padding: 0px 12px; */
    line-height: 30px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 15px;
    font-size: 24.8px;
    overflow: hidden;
}

textarea {
    border: none;
    outline: none;
    resize: none;
    background: transparent;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.text {
    /* position: absolute; */
    top: 50px;
    left: 20px;
    width: 700px;
    font-size: 20px;
}

.icon_wrap {
    position: absolute;
    margin-top: -35px;
    right: 100px;
}

.tick,
.cross {
    width: 35px;
}

.tick img,
.cross img {
    width: 100%;
}

.image_wrap {
    display: none;
}

.clue_word {
    margin: 5px;
    padding: 0px 12px;
}

.word_options {
    width: 100%;
    font-size: 23px;
    border: 2px solid var(--temp);
    border-radius: 20px;
    margin-bottom: 15px;
}

.word_opt_sticky {
    position: -webkit-sticky;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 5;
}

.func_ctrls {
    display: none !important;
}

/* ************************************************* */
/* ************************************************* */
@media (max-width: 991.98px) {
    .fill_in .que {
        width: 160px;
    }
}

@media (max-width: 575.98px) {
    .fill_in .que {
        width: 200px;
    }

    #paper-textarea {
        line-height: 46px;
        padding-top: 44px;
    }
}

@media (max-width: 475.98px) {
    /* .fill_in .que {
        width: 200px;
    } */
}