.underline_circle_selected_activity .image_container
{
	    width: 35%;
}

.underline_selected {
    border-bottom: #0291e4 solid 2px;
}

.circle_selected {
    border: #0291e4 solid 2px;
    border-radius: 21px;
    padding: 0px 4px 0px 4px;
}

.activity-content {
    margin-top: 55px;
    margin-left: 165px;
}

.questions_list a img {
    width: 50px;
    height: 50px;
}